[package]
name = "archiver"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
ethers = { workspace = true }
tokio = { workspace = true }
sled = { workspace = true }